.container {
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
    height: calc(100dvh - 85.19px);
    color: var(--white);
    padding: 10px 70px;
    display: flex;
    flex-direction: row;
    background-color: rgba(13, 13, 13);
}

.content {
    flex-basis: 70%;
}

.content h1 {
    padding-bottom: 5px;
}

.related_content {
    padding-left: 30px;
    overflow-y: scroll;
}

.related_content h2 {
    margin-bottom: 10px;
}

.related_content ul>a {
    text-decoration: none;
    color: var(--white);
}

.related_content li {
    list-style: none;
}

.related_content li>hr {
    margin-bottom: 20px;
    border: 1px solid rgb(35, 35, 35);
}

.related_content p {
    padding: 10px 0;
}

.related_content iframe {
    border-radius: 8px;
}

.related_content::-webkit-scrollbar {
    display: none;
}

.details {
    padding: 10px 20px;
    color: var(--background);
    background-color: rgb(35, 35, 35);
    border-radius: 8px;
    box-shadow: 5px 10px var(--black);
}

.content iframe {
    border-radius: 24px;
}