.loginForm {
    font-family: "Kanit", serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('/banner.webp');
    background-size: 150%;
    background-position: 1900px -50px;
    height: 100dvh;
}

.container {
    height: 99dvh;
    background: rgb(13, 13, 13);
    color: var(--white);
    outline: var(--black);
    box-shadow: 10px 20px var(--black);
    z-index: 1;
    animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 40%;
        opacity: 1; 
    }
}

.container>h1 {
    font-family: "Anton SC", serif;
    font-weight: 400;
    font-style: normal;
    padding: 30px;
    color: var(--dynamic-orange);
}

.container p {
    color: var(--background);
    margin-bottom: 10px;
}

.head {
    font-family: "Anton SC", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 100px;
    letter-spacing: 2px;
    display: block;
    font-size: 3rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.card form {
    width: 100%;
    margin-left: 230px;
}

.inputBox {
    position: relative;
    width: 70%;
    margin-bottom: 25px;
}

.box {
    position: relative;
    display: flex;
    margin-bottom: 25px;
    gap: 240px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 1em;
    background: transparent;
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}


.inputBox span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: var(--white);
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
    transform: translateX(383px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--white);
    letter-spacing: 0.2em;
    color: var(--black);
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus {
    border: 2px solid var(--white);
    border-radius: 8px;
}


.viewPasswordButton {
    position: absolute;
    background: none;
    border: none;
    color: var(--white); 
    cursor: pointer;
    font-size: 0.8em;
    padding: 0 18px;
    margin-top: 8px;
    text-transform: uppercase;
}

.enter {
    height: 45px;
    width: 70%;
    border-radius: 5px;
    color: var(--white);
    border: 2px solid var(--white);
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.enter:hover {
    background-color: var(--white);
    color: var(--black);
}

.enter span {
    margin-left: 10px;
}

.enter:active {
    transform: scale(0.925);
}

.sign {
    color: var(--background);
    position: absolute;
    bottom: 50px;
}

.signup {
    text-decoration: none;
    color: var(--white);
}

.contain {
    cursor: pointer;
}

.contain input {
    display: none;
}

.contain svg {
    overflow: visible;
    margin-right: 10px;
}

.path {
    fill: none;
    stroke: var(--white);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.contain input:checked~svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

.notification {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    height: 6rem;
    background: rgb(13, 13, 13);
    border-radius: 5px;
    font-size: 0.9rem;
    overflow: hidden;
    --gradient: linear-gradient(to bottom, rgb(255, 115, 115), rgb(255, 45, 45), red);
  }
  
  .notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 5px;
    background: rgb(35, 35, 35);
    z-index: 2
  }
  
  .notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 5px;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .notification:hover:after {
    transform: translateX(0.15rem)
  }
  
  .notititle {
    color: rgb(255, 45, 45);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notititle {
    transform: translateX(0.15rem)
  }
  
  .notibody {
    color: rgb(255, 115, 115);
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notibody {
    transform: translateX(0.25rem)
  }
  
  .notiglow,
  .notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
  }
  
  .notiglow {
    z-index: 3;
  }
  
  .notiborderglow {
    z-index: 1;
  }
  
  .notification:hover .notiglow {
    opacity: 0.1
  }
  
  .notification:hover .notiborderglow {
    opacity: 0.1
  }
  
  .note {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
  }